<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{site.social.twitter_user}}">
<meta name="twitter:title" content="{{page.title}}">
<meta name="twitter:description" content="{{site.title}} - {{page.title}}">
<meta name="twitter:creator" content="@{{site.social.twitter_user}}">

<meta property="og:title" content="{{page.title}}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:description" content="{{site.title}} - {{page.title}}">
<meta property="og:site_name" content="{{site.title}}">
<meta property="article:publisher" content="https://www.facebook.com/{{site.social.facebook_user}}">

{%- assign coverImagePath = "assets/covers/cover.jpg" -%}

{%- if page.cover -%}
  {%- assign coverImagePath = page.cover -%}
{%- else -%}
  {%- assign postSlug = page.url | split: "/" | last -%}
  {%- for f in site.static_files -%}
    {%- if f.path contains postSlug -%}
      {%- assign coverImagePath = f.path -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<meta name="twitter:image" content="{{ coverImagePath | absolute_url }}">
<meta property="og:image" content="{{ coverImagePath | absolute_url }}">
