{% assign projectPosts = site.posts | where:"category",include.category %}
{% assign currentYear = "foo" %}

{% for post in site.posts %}
  {% unless post.category == 'draft' %}
    {% assign postYear = post.date | date: "%Y" %}
    {% if postYear != currentYear %}
      <div class="menu-item menu-year">{{ postYear }}</div>
      {% assign currentYear = postYear %}
    {% endif %}
    {% case post.category %}
      {% when 'project' %}{% assign menuBullet = "hashtag" %}
      {% when 'collaboration' %}{% assign menuBullet = "heart" %}
    {% endcase %}
    <a class="menu-item menu-item-post" href="{{site.baseurl}}{{ post.url }}">
      <i class="fa fa-{{ menuBullet }}" aria-hidden="true"></i> {{ post.title }}
    </a>
  {% endunless %}
{% endfor %}
