<div class="navbar-mobile">
  <span class="menu-icon show-menu-icon">&#9776;</span>
  <a class="menu-item menu-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
</div>

<div id="navbar">
  <div class="menu-icon hide-menu-icon">✖</div>
  <a class="menu-item menu-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  {% include navbar-content.html %}
</div>

<div id="navbar-desktop">
  <div class="menu-icon hide-menu-icon">✖</div>
  <a class="menu-item menu-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  {% include navbar-content.html %}
</div>

<script src="{{ site.baseurl }}/js/navbar.js"></script>
