<div class="menu-item-post-container">
  <a class="menu-item menu-item-post" href="{{site.baseurl}}/">
    Projects
  </a>
  <br>
  <a class="menu-item menu-item-post" href="{{site.baseurl}}/about/">
    About
  </a>

</div>

<!-- {% assign menuCategories = "project,astrovandalistas" | split: ',' %}
{% assign incPosts = site.posts | where_exp:"item", "menuCategories contains item.category" %}

{% for post in incPosts %}
    <div class="menu-item-post-container">
      <a class="menu-item menu-item-post" href="{{site.baseurl}}{{ post.url }}">
        {{ post.title }}
      </a>
    </div>
{% endfor %} -->
