<div class="list-container">
  {%- assign post_categories = include.categories | split: ',' -%}
  {%- assign _posts = site.posts | where_exp:"item", "post_categories contains item.category" -%}

  {% for post in _posts %}
    {% if post.cover %}
      {%- assign postCover = post.cover | relative_url -%}
    {% else %}
      {%- assign postSlug = post.url | split: "/" | last -%}
      {% for f in site.static_files %}
        {% if f.path contains postSlug %}
          {%- assign postCover = f.path | relative_url -%}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    <div class="list-item">
      <a href="{{ post.url | relative_url }}">
        <div class="list-image" style="background-image: url('{{ postCover }}');" title="{{ post.title }}"></div>
        <div class="list-title">{{ post.title }}</div>
      </a>
    </div>
  {% endfor %}
</div>
