{% if page.github or page.vimeo or page.email %}
  <div class="fu-footer">
    {% if page.github %}
      <div class="fu-icon">
        <a href="{{ page.github }}" class="fa fa-github" target="_blank" title="GitHub link"></a>
      </div>
    {% endif %}
    {% if page.vimeo %}
      <div class="fu-icon">
        <a href="{{ page.vimeo }}" class="fa fa-vimeo" target="_blank" title="Vimeo link"></a>
      </div>
    {% endif %}
    {% if page.email %}
      <label class="fu-icon" for="emailCheck">
        <a class="fa fa-envelope" title="Email link"></a>
      </label>
    {% endif %}
  </div>
  <input id="emailCheck" type="checkbox">
  <img class="email-img" src="/assets/covers/contact_email_wb.png" alt="email address">
{% endif %}
