{% assign alt_txt = include.subtitle | default: page.title %}

<div class="swipebox-gallery">
  {% for file in site.static_files %}
    {% if file.path contains include.prefix %}
      <a rel="{{ include.prefix }}" href="{{ site.baseurl }}{{ file.path }}" class="swipebox" title="{{ alt_txt }}">
        <img src="{{ site.baseurl }}{{ file.path }}" alt="{{ alt_txt }}" loading="lazy">
      </a>
    {% endif %}
  {% endfor %}
</div>

<script src="{{ site.baseurl }}/js/jquery.swipebox.min.js" defer></script>
<script src="{{ site.baseurl }}/js/swipebox.js" defer></script>
