{% assign alt_txt = include.subtitle | default: page.title %}

<div class="swipebox-gallery">
  {% for file in site.static_files %}
    {% if file.path contains include.prefix %}
      <a rel="{{ include.prefix }}" href="{{ file.path | relative_url }}" class="swipebox" title="{{ alt_txt }}">
        <img src="{{ file.path | relative_url }}" alt="{{ alt_txt }}" loading="lazy">
      </a>
    {% endif %}
  {% endfor %}
</div>

<script src="{{ 'js/jquery.swipebox.min.js' | relative_url }}" defer></script>
<script src="{{ 'js/swipebox.js' | relative_url }}" defer></script>
