$BACKGROUND: #EFE2BA;
$TEXT-BACKGROUND: $BACKGROUND;

$TEXT-BASE: rgba(0,0,0,1);
$TITLE-COLOR: lighten($TEXT-BASE, 10%);
$TEXT-COLOR: lighten($TEXT-BASE, 20%);

$LINK-COLOR: $TITLE-COLOR;
$LINK-COLOR-VISITED: $LINK-COLOR;
$LINK-COLOR-HOVER: lighten($LINK-COLOR, 50%);

$LINK-COLOR-POST: #FF1493;
$LINK-COLOR-POST-VISITED: $LINK-COLOR-POST;
$LINK-COLOR-POST-HOVER: #FF69B4;

$MENU-BACKGROUND-COLOR: rgba(255,255,255,1);
$MENU-BACKGROUND-COLOR: linear-gradient(to right, darken($BACKGROUND, 15%), $BACKGROUND);
$MENU-TEXT-COLOR: rgba(40,40,40,1);
$MENU-TEXT-HOVER-COLOR: #FF1493;

$VERTICAL-SECTION-SPACING: 40px;
$HORIZONTAL-ITEM-SPACING: 25px;
$LIST-SPACING: 10px;

$TRANSITION-PERIOD: 0.1s;
$RESPONSIVE-SPACING: 2vw;
$MENU-ITEM-SPACING: 4px;
$MENU-WIDTH: 280px;

$one_column: 2 * $MENU-WIDTH;
$two_columns: 3 * $MENU-WIDTH;
$three_columns: 4 * $MENU-WIDTH;

@mixin media-query($canvas) {
  @if $canvas == SMALLPHONE {
   @media only screen and (min-width: $one_column) { @content; }
  }
  @else if $canvas == DESKTOP {
   @media only screen and (min-width: $two_columns) { @content; }
  }
  @else if $canvas == LGDESKTOP {
   @media only screen and (min-width: $three_columns) { @content; }
  }
}
