@import 'constants';

$FAMILY-SANS: 'Raleway', 'Arial';

$MENU-TITLE-SIZE: 1.1rem;
$MENU-SUBTITLE-SIZE: 1.1rem;
$MENU-ITEM-SIZE: 1rem;

$TITLE-SIZE: 1.5rem;
$TEXT-SIZE: 1rem;
$LINK-SIZE: 1rem;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  @include media-query(DESKTOP) {
    font-size: 20px;
  }
}

body {
  font: normal $TEXT-SIZE $FAMILY-SANS;
  word-spacing: 3px;
  color: $TEXT-COLOR;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

s {
  text-decoration:line-through;
}

a, .email-icon {
  font: 900 $LINK-SIZE $FAMILY-SANS;
  color: $LINK-COLOR;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: all $TRANSITION-PERIOD linear;

  &:visited {
    color: $LINK-COLOR-VISITED;
  }

  &:hover {
    color: $LINK-COLOR-POST-HOVER;
  }
}

.post p > a {
  font: 900 $TEXT-SIZE $FAMILY-SANS;
  text-decoration: underline;
  color: $LINK-COLOR-POST;

  &:hover {
    color: $LINK-COLOR-POST-HOVER;
  }
}

.post .black-links p > a {
  color: $LINK-COLOR;

  &:hover {
    color: $LINK-COLOR-POST-HOVER;
  }
}

#navbar, #navbar-desktop {
  .menu-item {
    font-size: $MENU-TITLE-SIZE;
    font-weight: 900;
    color: $MENU-TEXT-COLOR;
    text-transform: none;

    &:visited {
      color: $MENU-TEXT-COLOR;
    }

    &:hover {
      color: $MENU-TEXT-HOVER-COLOR;
    }
  }

  .menu-subtitle {
    font-size: $MENU-SUBTITLE-SIZE;
    @include media-query(DESKTOP) {
      font-size: $MENU-SUBTITLE-SIZE;
    }

    &:hover {
      color: $MENU-TEXT-COLOR;
    }
  }

  .menu-item-post {
    font-size: $MENU-ITEM-SIZE;
    font-weight: normal;
    @include media-query(DESKTOP) {
      font-size: $MENU-ITEM-SIZE;
    }
  }

  .menu-year {
    &:hover {
      color: $MENU-TEXT-COLOR;
    }
  }
}

.menu-title {
  font-size: $MENU-TITLE-SIZE;
}

.menu-icon {
  font: 900 1.5rem $FAMILY-SANS;
  color: $LINK-COLOR;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: color $TRANSITION-PERIOD linear;

  &:hover {
    color: $LINK-COLOR-POST-HOVER;
  }
}

.post {
  text-align: left;
  line-height: 1.333;

  .post-title {
    font: bold $TITLE-SIZE $FAMILY-SANS;
    color: $TITLE-COLOR;
    text-transform: uppercase;
    text-align: center;
  }

  .code-list {
    font-family: monospace;
  }
}

.fu-icon a, .fu-icon .email-icon {
  font-size: 1.9rem;
  @include media-query(DESKTOP) {
    font-size: 2.4rem;
  }
}
