<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    <div class="main-div-container">
      {% include navbar.html %}
      <div class="main-div">
        <div class="post">
          {% unless page.permalink == '/about/' %}
            <div class="post-title">{{ page.title }} ({{ page.date | date: "%Y" }})</div>
          {% endunless %}
              
          {{ content }}

          {% if page.swipebox %}
            {% include swipebox.html prefix=page.swipebox %}
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
