<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    <div class="main-div-container">
      {% include navbar.html %}
      <div class="main-div">
        <div class="post">
          <content>
            {% if page.permalink == '/about/' %}
              {% include about-content.html %}
            {% else %}
              {% include post-content.html %}
            {% endif %}

            {% include social-footer.html %}
          </content>
        </div>
      </div>
    </div>
  </body>
</html>
